<!DOCTYPE html>
<html>
<head>
    <script src="../public/jquery.js"></script>
    <script src="../public/script.js"></script>  
  <title>CHARACTER + S!!</title>
</head>
<body>
  <form id="characterSearch">
    <input type="input" id='searchInput'><button>Character search!</button>
  </form>
<div id="characterContainer">
</div>
{{name}}
<!-- <h1>{{name}}</h1>
    <div class="train-status">
      {{{status}}}
    </div>
    <div class="train-long-status">
        {{{long_status}}}
    </div> -->


</body>
</html>